.kyc-management-container {

    .kyc-status {
        padding: 4px 12px;
        width: fit-content;
        color: var(--text-primary);
        border: 2px solid var(--gray-3);
        border-radius: 4px;
        text-transform: uppercase;

        &.approved {
            background: #28a74560;
        }

        &.rejected {
            background: #dc354560;
        }
    }

    .kyc-img {
        img {
            width: 120px;
            height: 80px;
            object-fit: contain;
            object-position: center;
            box-sizing: border-box;
            border: 2px solid var(--gray-3);
            border-radius: 12px;
        }
    }

    .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000080;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;

        .popup-box {
            position: relative;
            /* width: fit-content; */
            width: 600px;
            height: 800px;
            /* height: auto;
            max-height: 600px; */
            padding: 28px;
            background: var(--gray-2);
            border: 2px solid var(--gray-3);
            border-radius: 12px;

            .close-btn {
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                padding: 8px;
                font-size: 20px;
                /* background-color: red; */
            }

            .documents {
                height: 100%;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .title {
                color: #fff;
                font-size: 24px;
            }

            .message {
                margin: 0 0 24px;
                color: var(--text-1);
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                gap: 100px;

                button {
                    flex: 1;
                    color: #fff;
                    background: #ffffff10;

                    &:hover {
                        border-color: #fff;
                    }
                }
            }
        }
    }
}